{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-12">
                    <article>
                        <img src="{{ article.imageURL }}" width="400px" height="200px">
                        <header>
                            <h2>{{ article.title }}</h2>
                        </header>

                        <p>
                            {{ article.content }}
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-success btn-xs"
                                   href="{{ path('article_edit', {'id': article.id}) }}">Edit</a>
                                <a class="btn btn-danger btn-xs"
                                   href="{{ path('article_delete', {'id': article.id}) }}">Delete</a>
                                <a class="btn btn-default btn-xs" href="{{ path('homepage') }}">back &raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

